---
import LayoutBase from "../layouts/LayoutBase.astro";
import Jumbotron from "../components/Jumbotron.astro";
---
<LayoutBase>
	<Jumbotron/>
	<div class="post-content">
		<p>Hello, there! I'm David and I'm a grant accountant for the City of San Diego. Previously, I was an astronomer studying stellar eclipsing binaries, gyrochronology of sun-like stars. I enjoy trail running, bicycling, fine dinning, web design, programming, data visualization, and reading in my free time.</p>
	</div>
</LayoutBase>

<style>
	.post-content {@apply max-w-4xl mx-auto pt-8 laptop:pt-12 font-mono text-gray-dark dark:text-white px-4}
	.post-content h2 {@apply pt-8 pb-4 text-2xl }
</style>