---
import { Image } from 'astro:assets';
import face1 from '../assets/face1.png';
import face2 from '../assets/face2.png';
import face3 from '../assets/face3.png';
---

<div>
	<Image id="propic" src={face3} alt="" class="mx-auto rounded-full w-48 h-48 laptop:w-72 laptop:h-72"/>
</div>
