---
const yeartoday = new Date().getFullYear();
---
<footer class="bg white dark:bg-gray max-w-4xl mx-auto">
	<div class="py-8 px-4 grid grid-cols-1 tablet:grid-cols-2 text-xs text-gray-dark dark:text-white">
		<span>Copyright © {yeartoday} David Jaimes. All Rights Reserved.</span>
		<span class="text-left pt-4 tablet:pt-0 tablet:text-right">Yo &hearts; Naxiely</span>
	</div>
</footer>