---
import DavidImageChange from "./DavidImageChange.astro";
---
<section>
	<div class="jumbotron">
		<div>
			<h1>David Jaimes</h1>
			<p>Financial Analyst in San Diego</p>
		</div>
		<DavidImageChange/>
	</div>
</section>

<style>
	section {@apply bg-white dark:bg-gray max-w-screen-laptop mx-auto}
	.jumbotron {@apply
		grid grid-cols-1 gap-4 items-center
		laptop:grid-cols-2
	}
	h1 {@apply mobile:pt-8 text-gray-dark dark:text-white font-mono text-4xl text-center}
	p {@apply p-4 text-gray-dark dark:text-white font-mono text-center}
</style>