---

import Nav from "../components/Nav.astro";
import Jumbotron from "../components/Jumbotron.astro";
import {Content as IndexMarkdown} from "../components/Index.md";
import Footer from "../components/Footer.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="The personal website of David Jaimes." />
		<title>David Jaimes</title>
	</head>
	<body class="bg-white dark:bg-gray">
		<Nav/>
		<slot/>
		<Footer/>
	</body>
</html>
