---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Favicon from "../components/DavidIcon.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Hello, there! I'm David and I'm a grant accountant for the City of San Diego. Previously, I was an astronomer studying stellar eclipsing binaries, gyrochronology of sun-like stars, and supernovae spectra. I enjoy trail running, bicycling, fine dinning, web design, programming, writing software, and reading in my free time."
        />
        <title>David Jaimes</title>
        <Favicon />
    </head>
    <body class="bg-white dark:bg-gray">
        <Nav />

        <slot />

        <Footer />
    </body>
</html>
