---
import LayoutBase from "../layouts/LayoutBase.astro";
import {Content as Markdown404} from "../components/404.md";
---
<LayoutBase>
	<section>
		<h2>D'OH!</h2>
		<h1>404 Page Not Found</h1>
		<Markdown404/>
	</section>	
</LayoutBase>

<style>
	section {@apply max-w-4xl mx-auto pt-4 laptop:pt-8 font-mono text-gray-dark dark:text-white px-4}
	h2 {@apply pb-4 text-4xl text-center}
	h1 {@apply pb-8 text-2xl text-center}
</style>